html, body {
  height: 100%;
  background-color: #101827;
  color: white;
}

.App {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.intro {
  padding-top: 10%;
  font-size: large;
}

.buttons {
  padding-top: 10%;
  padding-bottom: 10%;
}

.main {
  align-items: center;
}
